body {
	color: #000000!important;
	background: #ffffff!important;
	font-family: 'Chakra Petch', sans-serif;
}

a {
    color: #0666eb;
	text-decoration: none;
}

a:hover {
    color: #0666eb;
	text-decoration: none;
}

h1, h2, h3, h4, h5, h6, p{
	color: #000000;
}

.form-control {
	height: 41px;
	background: #f2f2f2;
	box-shadow: none !important;
	border: none;
}
.form-control:focus {
	background: #e2e2e2;
}
.form-control, .btn {        
	border-radius: 3px;
}
.signup-form {
	width: 400px;
	margin: 30px auto;
}
.signup-form form {
	color: #777777;
	border-radius: 3px;
	margin-bottom: 15px;
	background: #fff;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
	padding: 30px;
}
.signup-form h2  {
	color: #000000;
	font-weight: bold;
	margin-top: 0;
}
.signup-form hr  {
	margin: 0 -30px 20px;
}    
.signup-form .form-group {
	margin-bottom: 20px;
}
.signup-form input[type="checkbox"] {
	margin-top: 3px;
}
.signup-form .row div:first-child {
	padding-right: 10px;
}
.signup-form .row div:last-child {
	padding-left: 10px;
}
.signup-form .btn {        
	font-size: 16px;
	font-weight: bold;
	background: #000000;
	border: none;
	min-width: 140px;
}
.signup-form .btn:hover, .signup-form .btn:focus {
	background: #000000 !important;
	outline: none;
}
.signup-form a {
	color: #0666eb;
	text-decoration: none;
}
.signup-form a:hover {
    color: #0666eb;
	text-decoration: none;
}
.signup-form form a {
	color: #0666eb;
	text-decoration: none;
}	
.signup-form form a:hover {
	color: #0666eb;
	text-decoration: none;
}
.signup-form .hint-text  {
	padding-bottom: 15px;
	text-align: center;
}
.login-form {
	width: 400px;
	margin: 30px auto;
}
.login-form form {
	color: #777777;
	border-radius: 3px;
	margin-bottom: 15px;
	background: #fff;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
	padding: 30px;
}
.login-form h2  {
	color: #000000;
	font-weight: bold;
	margin-top: 0;
}
.login-form hr  {
	margin: 0 -30px 20px;
}    
.login-form .form-group {
	margin-bottom: 20px;
}
.login-form input[type="checkbox"] {
	margin-top: 3px;
}
.login-form .row div:first-child {
	padding-right: 10px;
}
.login-form .row div:last-child {
	padding-left: 10px;
}
.login-form .btn {        
	font-size: 16px;
	font-weight: bold;
	background: #000000;
	border: none;
	min-width: 140px;
}
.login-form .btn:hover, .login-form .btn:focus {
	background: #000000 !important;
	outline: none;
}
.login-form a {
	color: #0666eb;
	text-decoration: none;
}
.login-form a:hover {
    color: #0666eb;
	text-decoration: none;
}
.login-form form a {
	color: #0666eb;
	text-decoration: none;
}	
.login-form form a:hover {
	color: #0666eb;
	text-decoration: none;
}
.login-form .hint-text  {
	padding-bottom: 15px;
	text-align: center;
}
.forgot-password-form {
	width: 400px;
	margin: 30px auto;
}
.forgot-password-form form {
	color: #777777;
	border-radius: 3px;
	margin-bottom: 15px;
	background: #fff;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
	padding: 30px;
}
.forgot-password-form h2  {
	color: #000000;
	font-weight: bold;
	margin-top: 0;
}
.forgot-password-form hr  {
	margin: 0 -30px 20px;
}    
.forgot-password-form .form-group {
	margin-bottom: 20px;
}
.forgot-password-form input[type="checkbox"] {
	margin-top: 3px;
}
.forgot-password-form .row div:first-child {
	padding-right: 10px;
}
.forgot-password-form .row div:last-child {
	padding-left: 10px;
}
.forgot-password-form .btn {        
	font-size: 16px;
	font-weight: bold;
	background: #000000;
	border: none;
	min-width: 140px;
}
.forgot-password-form .btn:hover, .forgot-password-form .btn:focus {
	background: #000000 !important;
	outline: none;
}
.forgot-password-form a {
	color: #0666eb;
	text-decoration: none;
}
.forgot-password-form a:hover {
    color: #0666eb;
	text-decoration: none;
}
.forgot-password-form form a {
	color: #0666eb;
	text-decoration: none;
}	
.forgot-password-form form a:hover {
	color: #0666eb;
	text-decoration: none;
}
.forgot-password-form .hint-text  {
	padding-bottom: 15px;
	text-align: center;
}
.settings-form {
	width: 400px;
	margin: 30px auto;
}
.settings-form form {
	color: #777777;
	border-radius: 3px;
	margin-bottom: 15px;
	background: #fff;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
	padding: 30px;
}
.settings-form h2  {
	color: #000000;
	font-weight: bold;
	margin-top: 0;
}
.settings-form hr  {
	margin: 0 -30px 20px;
}    
.settings-form .form-group {
	margin-bottom: 20px;
}
.settings-form input[type="checkbox"] {
	margin-top: 3px;
}
.settings-form .row div:first-child {
	padding-right: 10px;
}
.settings-form .row div:last-child {
	padding-left: 10px;
}
.settings-form .btn {        
	font-size: 16px;
	font-weight: bold;
	background: #0666eb;
	border: none;
	min-width: 140px;
}
.settings-form .btn:hover, .settings-form .btn:focus {
	background: #0666eb !important;
	outline: none;
}
.settings-form a {
	color: #0666eb;
	text-decoration: none;
}
.settings-form a:hover {
    color: #0666eb;
	text-decoration: none;
}
.settings-form form a {
	color: #0666eb;
	text-decoration: none;
}	
.settings-form form a:hover {
	color: #0666eb;
	text-decoration: none;
}
.settings-form .hint-text  {
	padding-bottom: 15px;
	text-align: center;
}

.navbar.navbar-dark .nav-item .nav-link { 
    color: #000000!important; 
    background-color: #fff;
} 

.navbar.navbar-dark .nav-item .nav-link:hover { 
    color: #000000 !important; 
    background-color: #fff;
}

.navbar {
    background-color: #fff!important;
}

.navbar-nav {
    background-color: #fff;
}

.navbar-brand {
    background-color: #fff;
}

.navbar-dark .navbar-toggler {
    color: #000000 ;
    border-color: #000000 ;
	background-color: #000000 ;
}

.btn{
	border-radius: 10px;
}

.btn-dark {
    color: #fff;
    background-color: #000000;
    border-color: #000000;
	
}

.btn-dark:hover {
    color: #fff;
    background-color: #000000;
    border-color: #000000;
}

/*--Banner--*/
div.container.image{
  padding: 6em 0 0;
}

div.container.imageloc{
  padding: 4em 0 0;
}

.banner h2{
  padding-bottom: 20px;
}

.banner-1 h2{
  color: #c3c3c3;
  text-align: center;
  padding-top: 40px;
}

.banner{
background: url('https://images.squarespace-cdn.com/content/v1/5848ed4ce3df28b7b588cef9/1627969008077-LCLIPR9D329ZKQXY4SQD/Artboard+1.png?format=2500w') no-repeat 0px 0px;
background-size:cover;
-webkit-background-size: cover;
-o-background-size: cover;
-ms-background-size: cover;
-moz-background-size: cover;
min-height: 350px;
padding-top: 50px;
}

.banner-2{
  background: url('https://images.squarespace-cdn.com/content/v1/5848ed4ce3df28b7b588cef9/1627969008077-LCLIPR9D329ZKQXY4SQD/Artboard+1.png?format=2500w') no-repeat 0px 0px;
  background-size:cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  -ms-background-size: cover;
  -moz-background-size: cover;
  min-height: 280px;
  padding-top: 50px;
}

.cover{
	min-height: 350px;
	width: inherit;
	background: rgba(0,0,0,0.5)
}

.cover-1{
	min-height: 350px;
	min-height: inherit;
	width: inherit;
	background: rgba(0,0,0,0.5)
}

.cover-2{
  min-height: 150px;
  width: inherit;
  background: rgba(0,0,0,0.8)
}

.banner-1{
background: url(../img/landing2.jpg) no-repeat 0px 0px;
background-size:cover;
background-position: center;
-webkit-background-size: cover;
-o-background-size: cover;
-ms-background-size: cover;
-moz-background-size: cover;
min-height: 150px;
}

.banner a {
  font-size: 1em;
  color: #fff;
  font-weight: 600;
}

.banner a:hover {
  color: #fff;
}

.banner h2 {
  font-size:2.5em;
  font-weight: 600;
  color: #fff;
}

.banner {
  text-align: center;
}

.banner p {
  font-size: 1.2em;
  color: rgba(255, 255, 255, 0.46);
  font-weight: 400;
  line-height: 1.8em;
  margin: 3em auto 1em;
  width: 70%;
}

small{
  color: #ffffff;
}

input.form-control {
	border-radius: 10px;
}

select.form-control {
  border-radius: 10px;
}

textarea.form-control {
  border-radius: 10px;
}

.form-control {
  border-radius: 10px;
}

.main-section{
	margin: 30px;
}

.two {
	padding: 20px;
    width: 100%;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

.star {
    font-size: 20px !important;
    color: #b1b4b7
}

.dot {
    font-size: 20px !important;
    color: #b1b4b7
}

.round {
    border-radius: 50%;
    background-color: #eee;
    width: 33px;
    height: 33px;
    margin-bottom: -10px;
    align-items: center;
    justify-content: center
}

.name {
    font-size: 15px;
    color: #000000;
    text-align: left
}

.quote2 {
    font-size: 12px;
    font-weight: 500;
    color: #868e94;
    text-align: left
}

.img1 {
    position: relative;
    left: 20px;
    z-index: 28;
    border: 0.5px solid #6ebde4;
    border-radius: 50%;
    background-color: #bcd8e6
}

.img2 {
    position: relative;
    left: 10px;
    z-index: 29;
    border: 0.5px solid #6ebde4;
    border-radius: 50%;
    background-color: #bcd8e6
}

.img3 {
    z-index: 30;
    border: 0.5px solid #6ebde4;
    border-radius: 50%;
    background-color: #bcd8e6
}

.task {
    color: #727475
}

.date {
	font-size: 13px;
    color: #727475
}

.imgfix {
    align-content: center;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    top: 2px
}

.badge-primary{
	background-color: #0666eb;
}

.badge-primary:hover{
	background-color: #0666eb;
}

.btn-primary{
	background-color: #0666eb;
}

.btn-primary:hover{
	background-color: #0666eb;
}

.dropify-wrapper {
  display: block;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  width: 100%;
  max-width: 100%;
  height: 200px;
  padding: 5px 10px;
  font-size: 14px;
  line-height: 22px;
  color: #777;
  background-color: #FFF;
  background-image: none;
  text-align: center;
  border: 2px solid #000000!important;
  -webkit-transition: border-color .15s linear;
  transition: border-color .15s linear;
  border-radius: 10px;
}