{% extends "Base.html" %}
{% load static %}

{% block content %}
    <div class="menu-container">
        {% include 'Navbar.html' %}
    </div>

    <!-- Landing Page -->
    <div class="banner">
        <div class="cover">
            <div class="container image">
                <h2 id="category">Awarding Design, Creativity & Innovation on the Internet.</h2>
                <form class="form" role="search" method="POST" action="{% url 'Search' %}" name="Search">
                    {% csrf_token %}
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search For A Portfolio" name="imageSearch">
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!--Main Section-->
    <div class="main-section">
        <center>
            {% if messages %}
                {% for message in messages %} 
                <div class="alert {{message.tags}} m-1" role="alert" style="font-size: medium; margin-top: 30px; margin-bottom: 30px;">
                    {{message}}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {% endfor %} 
            {% endif %}
        </center>
        <h5 class="py-4"><b>Featured Projects</b> | <span style="font-weight: lighter;">From Talented Software Developers</span></h5>
        <div class="row">
            {% if portfolios %}
                <div class="row">
                    {% for portfolio in portfolios %}
                        <div class="col-sm-4">
                            <div class="card shadow d-flex align-items-stretch" style="margin-bottom: 30px; border-radius: 10px;">
                                <a href="/portfolio/{{ portfolio.title }}/details" name="">
                                    <img src="{{ portfolio.portfolio_image.url }}" class="card-img-top" style="border-radius: 10px 10px 0px 0px;" alt="...">
                                </a>
                                <div class="card-body">
                                    <h5 class="card-title">{{ portfolio.title }}</h5>
                                    <p class="card-text text-muted">{{ portfolio.caption|truncatewords:23 }}</p>
                                    <div class="badge" style="float:left">
                                        <h6><span style="font-weight: lighter;">Language:</span> {{ portfolio.primary_language }}</h6>
                                    </div>
                                    <div class="basge" style="float:right">
                                        <h6><span class="badge badge-primary">{{ portfolio.category }}</span></h6>
                                    </div>
                                    <br>
                                    <hr>
                                    <div class="d-flex flex-row user-info">
                                        {% if portfolio.profile.profile_image.url %}
                                            <img class="rounded" src="{{ portfolio.profile.profile_image.url }}" height="40" width="40">
                                        {% else %}
                                            <img class="rounded" src="https://www.freeiconspng.com/thumbs/no-image-icon/no-image-icon-8.png" height="40" width="40">
                                        {% endif %}
                                        <div class="d-flex flex-column justify-content-start ml-2">
                                            <a href="/user/{{ portfolio.author.username }}">
                                                <span class="name"><b>{{ portfolio.author.first_name }} {{ portfolio.author.last_name }}</b></span>
                                            </a>
                                            <span class="date"><i class="fas fa-calendar-alt"></i> {{ portfolio.date_created }}</span>
                                        </div>
                                        <br>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% else %}
                <div class="col-sm-12" style="margin-top: 20px;">
                    <div class="content text-center">
                        <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" viewBox="0 0 24 24" style="fill: rgba(0, 0, 0, 1);transform: ;msFilter:;"><path d="M20 2H8c-1.103 0-2 .897-2 2v12c0 1.103.897 2 2 2h12c1.103 0 2-.897 2-2V4c0-1.103-.897-2-2-2zM8 16V4h12l.002 12H8z"></path><path d="M4 8H2v12c0 1.103.897 2 2 2h12v-2H4V8z"></path><path d="m12 12-1-1-2 3h10l-4-6z"></path></svg>
                        <br>
                        <h4 class="text-dark py-3">No Associated Portfolio Found</h4>
                    </div> 
                </div>
            {% endif %}
        </div>
    </div>

    {% block footer %}
        <footer class="page-footer">
            <!-- Copyright -->
            <div class="footer-copyright text-center py-3 text-dark">
                © Copyright 2022 Project Station
            </div>
            <!-- Copyright -->
        </footer>
    {% endblock %}

{% endblock %}