{% extends "Base.html" %}
{% load static %}

{% block content %}
    <div class="menu-container">
        {% include 'Navbar.html' %}
    </div>

    <!-- Landing Page -->
    <div class="banner">
        <div class="cover">
            <div class="container image">
                <h2 id="category">Awarding Design, Creativity & Innovation on the Internet.</h2>
                <form class="form" role="search" method="POST" action="" name="Search">
                    {% csrf_token %}
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search For Portfolios & Categories" name="imageSearch">
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!--Main Section-->
    <div class="main-section">
        <h5 class="py-4"><b>Sites of the day</b> | <span style="font-weight: lighter;">Previous Winners</span></h5>
        <div class="row">
            <div class="col-sm-4">
                <div class="card shadow" style="margin-bottom: 30px; border-radius: 10px;">
                    <img src="https://wallpaperaccess.com/full/486595.jpg" class="card-img-top" style="border-radius: 10px 10px 0px 0px;" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text text-muted">With supporting text below as a natural lead-in to additional content.</p>
                        <div class="badge" style="float:left">
                            <h6><span style="font-weight: lighter;">From:</span> Kenya</h6>
                        </div>
                        <div class="badge" style="float:right">
                            <h6><span class="badge badge-primary">Corporate</span></h6>
                        </div>
                        <br>
                        <hr>
                        <div class="d-flex flex-row user-info">
                            <img class="rounded" src="https://img.icons8.com/bubbles/50/000000/short-curly-hair-girl-musical-notes.png" height="40" width="40">
                            <div class="d-flex flex-column justify-content-start ml-2">
                                <a href="#">
                                    <span class="name"><b>Steve Njuguna</b></span>
                                </a>
                                <span class="date"><i class="fas fa-calendar-alt"></i> 12th Feb 2022</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="main-section">
        <h5 class="py-4"><b>Nominees</b> | <span style="font-weight: lighter;">We need your vote!</span></h5>
        <div class="row">
            <div class="col-sm-4">
                <div class="card shadow" style="margin-bottom: 30px; border-radius: 10px;">
                    <img src="https://wallpaperaccess.com/full/486595.jpg" class="card-img-top" style="border-radius: 10px 10px 0px 0px;" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text text-muted">With supporting text below as a natural lead-in to additional content.</p>
                        <div class="badge" style="float:left">
                            <h6><span style="font-weight: lighter;">From:</span> Kenya</h6>
                        </div>
                        <div class="basge" style="float:right">
                            <h6><span class="badge badge-primary">Corporate</span></h6>
                        </div>
                        <br>
                        <hr>
                        <div class="d-flex flex-row user-info">
                            <img class="rounded" src="https://img.icons8.com/bubbles/50/000000/short-curly-hair-girl-musical-notes.png" height="40" width="40">
                            <div class="d-flex flex-column justify-content-start ml-2">
                                <a href="#">
                                    <span class="name"><b>Steve Njuguna</b></span>
                                </a>
                                <span class="date"><i class="fas fa-calendar-alt"></i> 12th Feb 2022</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="main-section">
        <h5 class="py-4"><b>Directory</b> | <span style="font-weight: lighter;">Find the Best Digital Agencies & Professionals</span></h5>
        <div class="row">
            <div class="col-sm-4">
                <div class="card shadow" style="margin-bottom: 30px; border-radius: 10px;">
                    <img src="https://wallpaperaccess.com/full/486595.jpg" class="card-img-top" style="border-radius: 10px 10px 0px 0px;" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text text-muted">With supporting text below as a natural lead-in to additional content.</p>
                        <div class="badge" style="float:left">
                            <h6><span style="font-weight: lighter;">From:</span> Kenya</h6>
                        </div>
                        <div class="basge" style="float:right">
                            <h6><span class="badge badge-primary">Corporate</span></h6>
                        </div>
                        <br>
                        <hr>
                        <div class="d-flex flex-row user-info">
                            <img class="rounded" src="https://img.icons8.com/bubbles/50/000000/short-curly-hair-girl-musical-notes.png" height="40" width="40">
                            <div class="d-flex flex-column justify-content-start ml-2">
                                <a href="#">
                                    <span class="name"><b>Steve Njuguna</b></span>
                                </a>
                                <span class="date"><i class="fas fa-calendar-alt"></i> 12th Feb 2022</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% block footer %}
        <footer class="page-footer">
            <!-- Copyright -->
            <div class="footer-copyright text-center py-3 text-dark">
                © Copyright 2022 Project Station
            </div>
            <!-- Copyright -->
        </footer>
    {% endblock %}

{% endblock %}