{% load static %}
{% block navbar %}

    <nav class="navbar navbar-expand-lg navbar-dark fixed-top shadow-sm">
        <div class="container">
            <a href="{% url 'Home' %}" name = 'Home' class="logo">
                <img src={% static "assets/img/logo.png" %} alt="" width="180">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Welcome</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Featured Portfolios</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Collections</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Categories</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Why Awwards?</a>
                    </li>
                </ul>
                <div class="d-flex">
                    <a href="{% url 'AddPortfolio' %}" name="AddPortfolio" style="margin-right: 20px;">
                        <button class="btn btn-dark">Add Portfolio</button>
                    </a>
                {% if user.is_authenticated %}
                    <div class="dropdown">
                        <button class="btn btn-link btn-sm" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-expanded="false">
                            <div style="background-color: #ffffff;">
                                <img class="rounded-circle" src="https://toppng.com/uploads/preview/roger-berry-avatar-placeholder-11562991561rbrfzlng6h.png" height="30" width="30">
                            </div>
                        </button> 
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="#"><i class="fa-solid fa-user-large"></i> My Profile</a>
                            <a class="dropdown-item" href="#"><i class="fa-solid fa-file-lines"></i> My Portfolio</a>
                            <a class="dropdown-item" href="{% url 'Logout' %}" name="Logout"><i class="fa-solid fa-arrow-right-from-bracket"></i> Logout</a>
                        </div>
                    </div>
                {% else %}
                    <a href="{% url 'Login' %}" name="Login">
                        <button class="btn btn-md btn-dark ms-3"><b>Log In </b><i class="fa-solid fa-arrow-right-to-bracket"></i></button>
                    </a>
                {% endif %}
                </div>
            </div>
        </div>
    </nav>

{% endblock %}