{% extends "Base.html" %}
{% load static %}

{% block content %}
    <div class="container" style="margin-top: 20px;">
        <center>
            {% if messages %}
                {% for message in messages %} 
                <div class="alert {{message.tags}} m-1" role="alert" style="font-size: medium;">
                    {{message}}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {% endfor %} 
            {% endif %}
        </center>
    </div>
    <div class="forgot-password-form">
        <form action="" method="POST">
            <center>
                <a href="{% url 'Home' %}" name = 'Home' class="logo">
                    <img class="py-4" src={% static "assets/img/logo.png" %} alt="" width="300">
                </a>
            </center>
            {% csrf_token %}
            <h2 class="text-center">Reset Password</h2>
            <p class="text-center">Your new password must be different from previously used passwords</p>
            <div class="form-group">
                 <input name="old_password" class="form-control" placeholder="Old password" type="password" id="id_old_password" required="true">
            </div> 
            <div class="form-group">
                <input name="new_password1" class="form-control" placeholder="New password" type="password" id="id_new_password1" required="true">
            </div> 
            <div class="form-group">
                <input name="new_password2" class="form-control" placeholder="Confirm password" type="password" id="id_new_password2" required="true">
            </div> 
            <button class="btn btn-primary btn-block" type="submit">Set New Password</button>
        </form>
    </div>
{% endblock %}