{% extends "Base.html" %}
{% load static %}

{% block content %}
    <div class="container-fluid">
        {% include 'Navbar.html' %}
    </div>

    <!-- Landing Page -->
        <div class="banner">
            <div class="cover">
                <div class="container">
                    <center>
                        <h1 class="text-light" style="font-size: 72px; padding-top: 75px;">{{ portfolio.title }}</span></h1>
                        <h1 class="text-light">{{ portfolio.category }}</span></h1>
                    </center>
                </div>
            </div>
        </div>

        <center>
            {% if messages %}
                {% for message in messages %} 
                <div class="alert {{message.tags}} m-1" role="alert" style="font-size: medium; margin-top: 70px;">
                    {{message}}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {% endfor %} 
            {% endif %}
        </center>

        <div class="container-fluid" style="margin-top: 50px;">
            <div class="row">
                <div class="col-md-8">
                    <a href="#">
                        <img id="img{{portfolio.id}}" src="{{portfolio.portfolio_image.url}}" class="fluid img-thumbnail" alt="portfolio" style="cursor:pointer">
                    </a>
                </div>
                <div class="col-md-4">
                    <p class="desc text-muted">{{portfolio.caption}}</p>
                    <div class="card mt-3">
                        <ul class="list-group list-group-flush">
                            {% if portfolio.portfolio_site_url %}
                            <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="img" width="24" height="24" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"><g fill="none" stroke="#171515" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><circle cx="12" cy="12" r="10"/><path d="M2 12h20"/><path d="M12 2a15.3 15.3 0 0 1 4 10a15.3 15.3 0 0 1-4 10a15.3 15.3 0 0 1-4-10a15.3 15.3 0 0 1 4-10z"/></g></svg> Website</h6>
                                <a href="{{ portfolio.portfolio_site_url }}" target="_blank">
                                    <span class="text-primary"><i class="fa-solid fa-link"></i> Link</span>
                                </a>
                            </li>
                            {% else %}
                            <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="img" width="24" height="24" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"><g fill="none" stroke="#171515" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><circle cx="12" cy="12" r="10"/><path d="M2 12h20"/><path d="M12 2a15.3 15.3 0 0 1 4 10a15.3 15.3 0 0 1-4 10a15.3 15.3 0 0 1-4-10a15.3 15.3 0 0 1 4-10z"/></g></svg> Website</h6>
                                <a href="#">
                                    <span class="text-primary disabled"><i class="fa-solid fa-link"></i> None</span>
                                </a>
                            </li>
                            {% endif %}
                            {% if portfolio.repo_url %}
                            <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="img" width="24" height="24" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"><g fill="none" stroke="#171515" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77A5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22"/></g></svg> Github</h6>
                                <a href="{{ portfolio.repo_url }}" target="_blank">
                                    <span class="text-primary"><i class="fa-solid fa-link"></i> Link</span>
                                </a>
                            </li>
                            {% else %}
                            <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="img" width="24" height="24" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"><g fill="none" stroke="#171515" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77A5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22"/></g></svg> Github</h6>
                                <a href="#">
                                    <span class="text-primary disabled"><i class="fa-solid fa-link"></i> None</span>
                                </a>
                            </li>
                            {% endif %}
                        </ul>
                    </div>
                    <br>
                    <h4 class ="desc text-dark">Primary Programming Language</h4>
                    <p class="desc text-muted">{{portfolio.primary_language}}</p>
                    <h4 class ="desc text-dark">Uploaded By</h4>
                    <div class="d-flex flex-row user-info">
                        {% if portfolio.profile.profile_image.url %}
                            <img class="rounded" src="{{ portfolio.profile.profile_image.url }}" height="40" width="40">
                        {% else %}
                            <img class="rounded" src="https://www.freeiconspng.com/thumbs/no-image-icon/no-image-icon-8.png" height="40" width="40">
                        {% endif %}
                        <div class="d-flex flex-column justify-content-start ml-2">
                            <a href="/user/{{ portfolio.author.username }}">
                                <span class="name"><b>{{ portfolio.author.first_name }} {{ portfolio.author.last_name }}</b></span>
                            </a>
                            <span class="date"><i class="fas fa-calendar-alt"></i> {{ portfolio.date_created }}</span>
                        </div>
                        <br>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <hr>
        </div>

        <div class="container-fluid" style="margin-top: 50px;">
            <div class="row">
                <div class="col-md-5 mb-3">
                    <div class="bg-white rounded shadow p-4 mb-4 clearfix graph-star-rating">
                        <h5 class="mb-1 text-center">Ratings and Reviews</h5>
                        {% if ratings %}
                            {% for rating in ratings %}
                                <div class="graph-star-rating-header">
                                    <h1 class="text-black mb-4 mt-2 text-center" style="font-size: 108px;">{{ rating.avarage_rating }}.0</h1>
                                </div>
                                {% if ratings_count|length == 0 %}
                                <p class="text-center">Based on {{ ratings_count|length }} reviews</p>
                                {% elif ratings_count|length == 1 %}
                                <p class="text-center">Based on {{ ratings_count|length }} review</p>
                                {% else %}
                                <p class="text-center">Based on {{ ratings_count|length }} reviews</p>
                                {% endif %}
                            {% endfor %}
                        {% else %}
                            <div class="graph-star-rating-header">
                                <h1 class="text-black mb-4 mt-2 text-center" style="font-size: 108px;">0.0</h1>
                                <p class="text-center">Based on {{ ratings_count|length  }} reviews</p>
                            </div>
                        {% endif %}
                    </div>
                </div>
    
                <div class="col-md-7">
                    <div class="bg-white rounded shadow p-4 mb-4 restaurant-detailed-ratings-and-reviews">
                        {% if user.is_authenticated %}
                        <a href="#" class="btn btn-outline-primary btn-sm float-right" data-toggle="modal" data-target="#exampleModal{{ portfolio.id }}">Add A Review</a>
                        {% else %}
                        <a href="{% url 'Login' %}" name="Login" class="btn btn-outline-primary btn-sm float-right">Log In To Review & Coment</a>
                        {% endif %}
                        <h5 class="mb-1">All Reviews</h5>
                        <div class="reviews-members pt-4 pb-4">
                            {% if ratings %}
                                {% for rating in ratings %}
                                <div class="media">
                                    <a href="#">
                                        <img alt="Generic placeholder image" src="{{ rating.profile.profile_image.url }}" class="mr-3 rounded-pill">
                                    </a>
                                    <div class="media-body">
                                        <div class="reviews-members-header">
                                            <h6 class="mb-1"><a class="text-black" href="#"><b>{{ rating.author.first_name }}  {{ rating.author.last_name }}</b></a></h6>
                                            <p class="text-gray">{{ rating.date_created }}</p>
                                        </div>
                                        <div class="reviews-members-body">
                                            <p>{{ rating.comment }}</p>
                                        </div>
                                    </div>
                                </div>
                                <hr>
                                {% endfor %}
                            {% else %}
                            <div class="col-sm-12" style="margin-top: 20px;">
                                <div class="content text-center">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="72" height="72" viewBox="0 0 24 24" style="fill: rgba(0, 0, 0, 1);transform: ;msFilter:;"><path d="M5 18v3.766l1.515-.909L11.277 18H16c1.103 0 2-.897 2-2V8c0-1.103-.897-2-2-2H4c-1.103 0-2 .897-2 2v8c0 1.103.897 2 2 2h1zM4 8h12v8h-5.277L7 18.234V16H4V8z"></path><path d="M20 2H8c-1.103 0-2 .897-2 2h12c1.103 0 2 .897 2 2v8c1.103 0 2-.897 2-2V4c0-1.103-.897-2-2-2z"></path></svg>
                                    <br>
                                    <h4 class="text-dark py-3">Be The First To Review</h4>
                                </div> 
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal{{ portfolio.id }}" tabindex="-1" aria-labelledby="exampleModalLabel{{ portfolio.id }}" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg">
                <div class="modal-content">
                    <form action="{% url 'PortfolioRating' portfolio.title %}" method="POST">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel{{ portfolio.id }}">Review & Portfolio Rating</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            {% csrf_token %}
                            <div class="mb-3">
                                <label for="Comment">Comment</label>
                                <textarea class="form-control" name="comment" id="comment" rows="5"></textarea>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="mb-3">
                                        <label for="Design">Design</label>
                                        <input type="number" class="form-control" name="design_rating" min="0" max="10" value="0">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="mb-3">
                                        <label for="Usability">Usability</label>
                                        <input type="number" class="form-control" name="usability_rating" min="0" max="10" value="0">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="mb-3">
                                        <label for="Content">Content</label>
                                        <input type="number" class="form-control" name="content_rating" min="0" max="10" value="0">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="mb-3">
                                        <label for="Creativity">Creativity</label>
                                        <input type="number" class="form-control" name="creativity_rating" min="0" max="10" value="0">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="mb-3">
                                        <label for="Design">Experience</label>
                                        <input type="number" class="form-control" name="experience_rating" min="0" max="10" value="0">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Rate</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    {% block footer %}
        <footer class="page-footer">
            <!-- Copyright -->
            <div class="footer-copyright text-center py-3 text-dark">
                © Copyright 2022 Project Station
            </div>
            <!-- Copyright -->
        </footer>
    {% endblock %}
    
{% endblock %}